* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Press Start 2P", system-ui;
}

.main {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(122, 41, 122);
}

.taskBar {
    height: 40px;
    width: 100%;
    background-color: antiquewhite;

    display: flex;
    font-family: "Press Start 2P", system-ui;

}

.homeButton {
    margin-left: 20px;
    width: 70px;
    cursor: pointer;
}

.selected {
    background-color: rgb(59, 59, 253);
    border: rgba(85, 85, 85, 0.397) solid 2px;
}

.taskList {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.taskList li {
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.384);
    cursor: pointer;
}

.taskList li:hover {
    color: rgb(0, 0, 0);

}

.datetime {
    margin-right: 20px;
    margin-left: auto;
    align-self: center;
}

.mainMenu {
    width: 400px;
    height: 300px;
    background-color: antiquewhite;
    margin-left: 20px;
    border: 3px solid;
    box-shadow: 5px 5px 0px 0px black;

    justify-content: center;
}

.menuContent {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menuText {
    font-size: 12px;
    margin-top: 20px;

}

.center {
    text-align: center;
}

.menuList {
    margin-top: auto;
    margin-bottom: 50px;
    list-style: none;
}

.menuList li {
    margin: 10px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    font-size: 20px;

    cursor: pointer;
    opacity: 0.4;
}

.menuList li:hover {
    color: black;
    opacity: 1;
}

.listIMG {
    height: 30px;
    margin-right: 10px;
}

.welcomeContainer {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.welcomeCard {
    width: 500px;
    height: 400px;
    background-color: antiquewhite;
    border: 3px solid;
    box-shadow: 5px 5px 0px 0px black;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.welcomeHeader {
    font-size: 25px;
    margin-bottom: 20px;
}

.welcomeParagraph {
    font-size: 15px;
    margin-bottom: 20px;
}

.welcomeList {
    margin-left: 15px;
}

.closeButton {
    margin-right: 0px;
    margin-left: auto;
    padding: 10px;
    background-color: red;
    box-shadow: 5px 5px 0px 0px black;
    border: 3px solid black;
    margin-bottom: 20px;
}



.appContainer {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal {
    width: 500px;
    height: 400px;
    border: 3px solid;
    box-shadow: 5px 5px 0px 0px black;

    background-color: black;
    display: flex;
    flex-direction: column;
}

.terminal textarea {
    width: 100%;
    height: 80%;
    background-color: black;
    color: white;
}

.terminal input:focus {
    border: none;
    outline: none;
}

.texteditor {
    width: 500px;
    height: 400px;
    border: 3px solid;
    box-shadow: 5px 5px 0px 0px black;

    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.texteditor textarea {
    width: 100%;
    height: 80%;
    background-color: antiquewhite;
    color: black;
}

.calc {
    width: 400px;
    height: 600px;
    border: 3px solid;
    box-shadow: 5px 5px 0px 0px black;

    background-color: antiquewhite;
    flex-direction: column;
    align-items: center;
}

.calc textarea{
    width: 90%;
    height: 100px;
}

.calcButtons{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    margin-top: 15px;
}

.calcButton{
    width: 18%;
    height: 80px;
    border-radius: 0px;
    font-size: 25px;
    box-shadow: 5px 5px 0px 0px black;
    border: black 3px solid;
}