* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Press Start 2P", system-ui;
}

.main {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(122, 41, 122);
    background-image: url("background1.webp");
    background-size: cover;
    background-position: center;
}

.taskBar {
    height: 40px;
    width: 100%;
    background-color: antiquewhite;

    display: flex;
    font-family: "Press Start 2P", system-ui;

}

.homeButton {
    margin-left: 20px;
    width: 70px;
    cursor: pointer;
}

.selected {
    background-color: rgb(59, 59, 253);
    border: rgba(85, 85, 85, 0.397) solid 2px;
}

.taskList {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.taskList li {
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.384);
    cursor: pointer;
}

.taskList li:hover {
    color: rgb(0, 0, 0);

}

.datetime {
    margin-right: 20px;
    margin-left: auto;
    align-self: center;
}

.mainMenu {
    width: 400px;
    height: 300px;
    background-color: antiquewhite;
    margin-left: 20px;
    border: 3px solid;
    box-shadow: 5px 5px 0px 0px black;

    justify-content: center;
}

.expanded {
    height: 400px;
}

.menuContent {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}



.menuText {
    font-size: 12px;
    margin-top: 20px;

}

.center {
    text-align: center;
}

.menuList {
    margin-top: auto;
    margin-bottom: 30px;
    list-style: none;
}



.menuList li {
    margin: 10px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    font-size: 20px;

    cursor: pointer;
    opacity: 0.4;
}

.menuList li:hover {
    color: black;
    opacity: 1;
}

.extraMenuList {
    margin-top: auto;
    margin-bottom: 30px;
    list-style: none;
}

.extraMenuList li {
    margin: 10px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    font-size: 20px;

    cursor: pointer;
    opacity: 0.4;
}

.extraMenuList li:hover {
    color: black;
    opacity: 1;
}

.listIMG {
    height: 30px;
    margin-right: 10px;
}

.welcomeContainer {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.welcomeCard {
    width: 500px;
    height: 400px;
    background-color: antiquewhite;
    border: 3px solid;
    box-shadow: 5px 5px 0px 0px black;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.welcomeHeader {
    font-size: 25px;
    margin-bottom: 20px;
}

.welcomeParagraph {
    font-size: 15px;
    margin-bottom: 10px;
}

.welcomeList {
    margin-left: 15px;
    margin-bottom: 10px;
}

.closeButton {
    margin-right: 0px;
    margin-left: auto;
    padding: 10px;
    background-color: red;
    box-shadow: 5px 5px 0px 0px black;
    border: 3px solid black;
    margin-bottom: 20px;
}



.appContainer {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal {
    width: 500px;
    height: 400px;
    border: 3px solid;
    box-shadow: 5px 5px 0px 0px black;

    background-color: black;
    display: flex;
    flex-direction: column;
}

.terminal textarea {
    width: 100%;
    height: 80%;
    background-color: black;
    color: white;
}

.terminal input:focus {
    border: none;
    outline: none;
}

.texteditor {
    width: 500px;
    height: 400px;
    border: 3px solid;
    box-shadow: 5px 5px 0px 0px black;

    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.texteditor textarea {
    width: 100%;
    height: 80%;
    background-color: antiquewhite;
    color: black;
}

.calc {
    width: 400px;
    height: 600px;
    border: 3px solid;
    box-shadow: 5px 5px 0px 0px black;

    background-color: antiquewhite;
    flex-direction: column;
    align-items: center;
}

.calc textarea {
    width: 90%;
    height: 100px;
}

.calcButtons {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    margin-top: 15px;
}

.calcButton {
    width: 18%;
    height: 80px;
    border-radius: 0px;
    font-size: 25px;
    box-shadow: 5px 5px 0px 0px black;
    border: black 3px solid;
}

.aboutWorkstation {
    width: 500px;
    height: 400px;
    background-color: antiquewhite;
    border: 3px solid;
    box-shadow: 5px 5px 0px 0px black;
    padding: 20px;
    flex-direction: column;
}

.aboutWorkstationHeader {
    margin-bottom: 65px;
}

.internet {
    width: 800px;
    height: 700px;
    background-color: antiquewhite;
    border: 3px solid;
    box-shadow: 5px 5px 0px 0px black;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.internet iframe {
    margin-top: 25px;
}

.filesystem {
    width: 900px;
    height: 600px;
    border: 3px solid;
    box-shadow: 5px 5px 0px 0px black;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    z-index: 10;
    align-items: center;
}

.appNameText {
    margin: 20px;
    align-self: flex-start;
    margin-left: 90px;
}

.filesystemContainer {
    width: 80%;
    height: 100%;
    border: solid 3px black;
    margin-bottom: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.fileContainer {
    width: 25%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.fileIMG {
    width: 80%;
}

.snake {
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    border: 3px solid;
    box-shadow: 5px 5px 0px 0px black;
    padding: 20px;
    flex-direction: column;
}

#snakeCanvas {
    background-color: rgb(0, 0, 0);
    margin: 25px;
}

#canvasDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
}

.tictactoe {
    width: 500px;
    height: 700px;
    background-color: antiquewhite;
    border: 3px solid;
    box-shadow: 5px 5px 0px 0px black;
    padding: 20px;
    flex-direction: column;
}

.tictactoe .row {
    display: flex;
    align-items: center;
    gap: 10px;
}

#status {
    font-size: 12px;
    line-height: 1.4;
}

#resetBtn {
    margin-left: auto;
    padding: 10px 12px;
    font-size: 12px;
    cursor: pointer;
    background-color: rgb(59, 59, 253);
    color: white;
    border: 3px solid black;
    box-shadow: 5px 5px 0px 0px black;
}


#board {
    margin-top: 15px;
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    align-content: center;
}

#board .cell {
    width: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    background-color: white;
    border: 3px solid black;
    box-shadow: 5px 5px 0px 0px black;
    font-size: 44px;
    line-height: 1;
    color: black;
    display: grid;
    place-items: center;
}

#board .cell:hover {
    background-color: rgba(59, 59, 253, 0.12);
}


#board .cell:disabled {
    cursor: not-allowed;
    opacity: 0.85;
    background-color: rgba(0, 0, 0, 0.03);
}

.settings {
    width: 1100px;
    height: 700px;
    border: 3px solid;
    box-shadow: 5px 5px 0px 0px black;

    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.settingStartMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settingsList {
    font-size: 55px;
    margin-top: 190px;
    list-style-type: none;
    text-align: center;
}

.settingsList li {
    color: rgba(0, 0, 0, 0.384);
}

.settingsList li:hover {
    color: rgb(0, 0, 0);
}

.settingBackgroundMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.backgroundImageChoice {
    width: 30%;
    height: 200px;
    border: 3px solid black;
    box-shadow: 5px 5px 0px 0px black;
    transition: 0.1s ease;
}

.backgroundImageChoice:hover {
    transform: translate(5px, 5px);
    box-shadow: 0px 0px 0px 0px black;
}

.settingName {
    margin-left: 25px;
    font-size: 25px;
    margin-bottom: 25px;
}

.settingBackgroundMenuContainer {
    overflow: scroll;
}

.color-1 {
    background-color: brown;
}

.color-2 {
    background-color: aquamarine;
}

.color-3 {
    background-color: cadetblue;
}

.color-4 {
    background-color: darkgoldenrod;
}

.color-5 {
    background-color: #7a297a;
}

.color-6 {
    background-color: green;
}

.settingLogoMenuContainer {
    overflow: scroll;
}

.imageSettingBackgroundMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.logoImageChoice {
    width: 30%;
    height: 300px;
    border: 3px solid black;
    box-shadow: 5px 5px 0px 0px black;
    transition: 0.1s ease;
}

.logoImageChoice:hover {
    transform: translate(5px, 5px);
    box-shadow: 0px 0px 0px 0px black;
}

.customCssBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.customCssBox textarea{
width: 80%;
height: 50%;
}

.coolbutton{
    width: 200px;
    height: 70px;
    margin-top: 25px;
    border-radius: 0px;
    border: 3px solid black;
    box-shadow: 5px 5px 0px 0px black;
}
